/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style de base pour la barre de navigation */
header nav {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #071c2e;
}

.logo img
{
  height: 2em;
}

.subscribe-button {
  background-color: red;
  border: none;
  border-radius: 25px;
  padding: 5px 5px;
  color: #fff;
  cursor: pointer;
}
.menu {
  display: none;
}
.buttons
{
  display: none;
}
.breadcrumbs
{
  display: flex;
  list-style-type: none;
  margin: 20px 0px 0px 10px;
}
.breadcrumbs li
{
  padding-right: 5px;
}
.badge {
  background-color: orange;
  color: #fff;
  margin: 20px 0px 0px 10px;
  padding: 5px 10px;
  border-radius: 12px; 
  font-size: 1em;
  display: inline-block; 
}

.actions-button {
  background-color: white;
  border: 1px solid gray; /* Bordure fine grise */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Petite ombre */
  border-radius: 4px; /* Coins légèrement arrondis */
  padding: 10px 20px; /* Espacement intérieur */
  font-size: 16px; /* Taille du texte */
  cursor: pointer; /* Change le curseur en pointeur lorsque survolé */
  display: flex; /* Permet d'aligner les éléments à l'intérieur */
  align-items: center; /* Alignement vertical des éléments à l'intérieur */
}

.dots {
  font-size: 24px; /* Taille des points */
  margin-right: 10px; /* Espace entre les points et le texte */
}

.title
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
article
{
  margin: 20px, 0px, 0px, 10px
}




@media (min-width: 768px) {
  .logo {
    position: static;
    transform: none;
    display: flex;
    align-items: center;
    margin-right: 20px;
    /* margin-right: auto;  */
   }
  .logo ul 
  {
    margin-left: 5em;
  }
  .buttons
  {
    display: flex;
  }
  .badge
  {
    display: none;
  }
  .menu {
    display: flex; 
    align-items: baseline;
    padding: 0;
    list-style-type: none;
  }

  .menu li {
    margin-right: 20px; /* Ajuster l'espacement entre les éléments du menu */
  }

  .menu a {
    text-decoration: none;
    color: #fff; /* Ou toute autre couleur */
  }

  .left-menu
  {
    display: none;
  }
  .right-menu
  {
    display: none;
  }
  .login-button {
    text-decoration: none; /* Supprime le soulignement du lien */
    outline: none; /* Supprime la bordure de mise en surbrillance lorsqu'il est cliqué ou mis en focus */
    color: #ffffff; /* Définissez la couleur du texte, ici blanc. */
    background: none; /* Supprime le fond */
    border: none; /* Supprime la bordure */
    cursor: pointer; /* Change le curseur en pointeur lorsque survolé */
  }
  .actions-button {
    display: none;
  }
 

  /* Styles supplémentaires pour les écrans de bureau ici */
}
