* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header
{
  background-color: #071c2e;
}
/* Style de la Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #071c2e;
  padding: 0px 20px 0px 20px;
}

.logo img {
  height: 1em; /* Ou toute autre taille */
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 20px; /* Espacement entre les éléments du menu */
}

.menu a {
  text-decoration: none;
  color: #fff; /* Ou toute autre couleur */
}


.subscribe-button {
  background-color: red; /* Couleur de fond rouge */
  font-weight: bold; /* Texte en gras */
  border-radius: 15px; /* Bord arrondi */
  border: none; /* Suppression de la bordure par défaut */
  padding: 10px 20px; /* Espacement interne pour rendre le bouton plus grand */
  color: #fff; /* Texte blanc */
  cursor: pointer; /* Curseur en forme de main au survol */
}

.subscribe-button:hover {
  background-color: darkred; /* Couleur de fond plus foncée au survol */
}

/* Styles pour les appareils mobiles */
@media (max-width: 768px) {  /* Ajustez la valeur max-width selon vos besoins */
  .navbar {
      flex-direction: column;  /* Change la direction de flexbox en colonne */
      align-items: flex-start;  /* Alignement des éléments au début de l'axe transversal */
      padding-left: 0;  /* Suppression du padding à gauche */
  }

  .logo {
      order: 1;  /* Positionnement du logo au milieu */
      align-self: center;  /* Centrage du logo sur l'axe transversal */
  }

  .menu {
      order: 0;  /* Positionnement du menu en premier */
      align-self: flex-start;  /* Alignement du menu à gauche */
  }

  .navbar a {
    font-size: 0;
  }

  .navbar svg {
    width: 1em; /* Définit la taille du SVG */
    height: 1em;
  }

  .buttons .login-button svg,
  .menu .browse-button svg,
  .menu .search-button svg {
      /* Styles pour les icônes SVG dans les boutons et les éléments de menu */
      width: 1em;
      height: 1em;
  }

  .buttons {
      order: 2;  /* Positionnement des boutons en dernier */
  }

  .buttons .subscribe-button {
      display: none;  /* Masquage du bouton Subscribe */
  }
}



